openapi: 3.0.1
info:
  title: mcs api
  description: list of main api
  version: 1.0.0
servers:
- url: https://mcs.cloud273.com/app/api

paths:
  /admin:
    get:
      tags:
      - admin/account
      summary: Get admin account
      operationId: getAdminAccount
      parameters:
      - name: os
        in: header
        description: Device OS
        required: true
        schema:
          type: string
          default: ios
      - name: app
        in: header
        description: Application identifier
        required: true
        schema:
          type: string
          default: "com.cloud273.admin|1.0.0"
      - name: token
        in: header
        description: Access token
        required: true
        schema:
          type: string
          default: "admin_token_here"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminDetail'   
        400:
          description: Bad request
        403:
          description: Invalid token
        404:
          description: Not found
        500:
          description: Unknown
    post:
      tags:
      - admin/account
      summary: Create admin account
      operationId: adminCreateAccount
      parameters:
      - name: os
        in: header
        description: Device OS
        required: true
        schema:
          type: string
          default: ios
      - name: app
        in: header
        description: Application Identifier
        required: true
        schema:
          type: string
          default: "com.cloud273.admin|1.0.0"
      - name: fn
        in: header
        description: Firstname key
        required: true
        schema:
          type: string
          default: dung
      - name: ln
        in: header
        description: Lastname key
        required: true
        schema:
          type: string
          default: nguyen
      - name: bd
        in: header
        description: Birthday key
        required: true
        schema:
          type: string
          default: "27031984"
      - name: ad
        in: header
        description: Address key
        required: true
        schema:
          type: string
          default: "@0605"
      requestBody:
        content:
          application/json:
            schema:
              required:
              - username
              - password
              type: object
              properties:
                username:
                  $ref: '#/components/schemas/Username'
                password:
                  $ref: '#/components/schemas/Password'
                language:
                  $ref: '#/components/schemas/Language'
        required: true
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedWithIDMessage'
        400:
          description: Bad request
        409:
          description: Existed
        500:
          description: Unknown
    patch:
      tags:
      - admin/account
      summary: Update admin account language
      operationId: updateAdminAccountLanguage
      parameters:
      - name: os
        in: header
        description: Device OS
        required: true
        schema:
          type: string
          default: ios
      - name: app
        in: header
        description: Application identifier
        required: true
        schema:
          type: string
          default: "com.cloud273.admin|1.0.0"
      - name: token
        in: header
        description: Access token
        required: true
        schema:
          type: string
          default: "admin_token_here"
      requestBody:
        content:
          application/json:
            schema:
              required:
              - language
              type: object
              properties:
                language:
                  $ref: '#/components/schemas/Language'
        required: true
      responses:
        200:
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatedMessage'
        400:
          description: Bad request
        403:
          description: Invalid token
        404:
          description: Not found
        500:
          description: Unknown
  /admin/clinic:
    post:
      tags:
      - admin/clinic
      summary: Create clinic
      operationId: createClinicByAdmin
      parameters:
      - name: os
        in: header
        description: Device OS
        required: true
        schema:
          type: string
          default: ios
      - name: app
        in: header
        description: Application identifier
        required: true
        schema:
          type: string
          default: "com.cloud273.admin|1.0.0"
      - name: token
        in: header
        description: Access token
        required: true
        schema:
          type: string
          default: "admin_token_here"
      requestBody:
        content:
          application/json:
            schema:
              required: [clinic, user]
              type: object
              properties:
                clinic:
                  $ref: '#/components/schemas/ClinicCreate'
                user:
                  $ref: '#/components/schemas/ClinicUserCreate'
        required: true
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedWithIDMessage'
        400:
          description: Bad request
        403:
          description: Invalid token
        409:
          description: Existed 
        500:
          description: Unknown
    put:
      tags:
      - admin/clinic
      summary: Update clinic
      operationId: updateClinicByAdmin
      parameters:
      - name: os
        in: header
        description: Device OS
        required: true
        schema:
          type: string
          default: ios
      - name: app
        in: header
        description: Application identifier
        required: true
        schema:
          type: string
          default: "com.cloud273.admin|1.0.0"
      - name: token
        in: header
        description: Access token
        required: true
        schema:
          type: string
          default: "admin_token_here"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClinicUpdateWithID'
        required: true
      responses:
        200:
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatedMessage'
        400:
          description: Bad request
        403:
          description: Invalid token
        404:
          description: Not found
        500:
          description: Unknown
    get:
      tags:
      - admin/clinic
      summary: Get clinic detail
      operationId: getClinicByAdmin
      parameters:
      - name: os
        in: header
        description: Device OS
        required: true
        schema:
          type: string
          default: ios
      - name: app
        in: header
        description: Application identifier
        required: true
        schema:
          type: string
          default: "com.cloud273.admin|1.0.0"
      - name: token
        in: header
        description: Access token
        required: true
        schema:
          type: string
          default: "admin_token_here"
      - name: id
        in: query
        description: clinicId
        required: true
        schema:
          type: integer
          default: 1
          example: 1
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClinicDetailWithCert'  
        400:
          description: Bad request
        403:
          description: Invalid token
        404:
          description: Not found
        500:
          description: Unknown
  /admin/clinic/list:
    get:
      tags:
      - admin/clinic
      summary: Get list of clinic
      operationId: getListClinicByAdmin
      parameters:
      - name: os
        in: header
        description: Device OS
        required: true
        schema:
          type: string
          default: ios
      - name: app
        in: header
        description: Application identifier
        required: true
        schema:
          type: string
          default: "com.cloud273.admin|1.0.0"
      - name: token
        in: header
        description: Access token
        required: true
        schema:
          type: string
          default: "admin_token_here"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ClinicBasic'
        400:
          description: Bad request
        403:
          description: Invalid token
        404:
          description: Not found
        500:
          description: Unknown
  /admin/clinic/deactivate:  
    patch:
      tags:
      - admin/clinic
      summary: Deactivate clinic
      operationId: deactivateClinicByAdmin
      parameters:
      - name: os
        in: header
        description: Device OS
        required: true
        schema:
          type: string
          default: ios
      - name: app
        in: header
        description: Application identifier
        required: true
        schema:
          type: string
          default: "com.cloud273.admin|1.0.0"
      - name: token
        in: header
        description: Access token
        required: true
        schema:
          type: string
          default: "admin_token_here"
      requestBody:
        content:
          application/json:
            schema:
              required: [id]
              type: object
              properties:
                id:
                  $ref: '#/components/schemas/ID'
        required: true
      responses:
        200:
          description: Deactivated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeactivatedMessage'
        400:
          description: Bad request
        403:
          description: Invalid token
        404:
          description: Not found
        500:
          description: Unknown
  /admin/doctor:
    post:
      tags:
      - admin/doctor
      summary: Create doctor
      operationId: createDoctorByAdmin
      parameters:
      - name: os
        in: header
        description: Device OS
        required: true
        schema:
          type: string
          default: ios
      - name: app
        in: header
        description: Application identifier
        required: true
        schema:
          type: string
          default: "com.cloud273.admin|1.0.0"
      - name: token
        in: header
        description: Access token
        required: true
        schema:
          type: string
          default: "admin_token_here"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DoctorCreate'
        required: true
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedWithIDMessage'
        400:
          description: Bad request
        403:
          description: Invalid token
        404:
          description: Not found (Clinic)
        409:
          description: Existed 
        500:
          description: Unknown
    put:
      tags:
      - admin/doctor
      summary: Update doctor
      operationId: updateDoctorByAdmin
      parameters:
      - name: os
        in: header
        description: Device OS
        required: true
        schema:
          type: string
          default: ios
      - name: app
        in: header
        description: Application identifier
        required: true
        schema:
          type: string
          default: "com.cloud273.admin|1.0.0"
      - name: token
        in: header
        description: Access token
        required: true
        schema:
          type: string
          default: "admin_token_here"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DoctorUpdateWithID'
        required: true
      responses:
        200:
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatedMessage'
        400:
          description: Bad request
        403:
          description: Invalid token
        404:
          description: Not found
        500:
          description: Unknown
    patch:
      tags:
      - admin/doctor
      summary: Update partial doctor
      operationId: updatePartialDoctorByAdmin
      parameters:
      - name: os
        in: header
        description: Device OS
        required: true
        schema:
          type: string
          default: ios
      - name: app
        in: header
        description: Application identifier
        required: true
        schema:
          type: string
          default: "com.cloud273.admin|1.0.0"
      - name: token
        in: header
        description: Access token
        required: true
        schema:
          type: string
          default: "admin_token_here"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DoctorPartialUpdateWithID'
        required: true
      responses:
        200:
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatedMessage'
        400:
          description: Bad request
        403:
          description: Invalid token
        404:
          description: Not found
        500:
          description: Unknown
    get:
      tags:
      - admin/doctor
      summary: Get doctor detail
      operationId: getDoctorByAdmin
      parameters:
      - name: os
        in: header
        description: Device OS
        required: true
        schema:
          type: string
          default: ios
      - name: app
        in: header
        description: Application identifier
        required: true
        schema:
          type: string
          default: "com.cloud273.admin|1.0.0"
      - name: token
        in: header
        description: Access token
        required: true
        schema:
          type: string
          default: "admin_token_here"
      - name: id
        in: query
        description: doctorId
        required: true
        schema:
          type: integer
          default: 1
          example: 1
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DoctorDetailWithCert'  
        400:
          description: Bad request
        403:
          description: Invalid token
        404:
          description: Not found
        500:
          description: Unknown
  /admin/doctor/list:
    get:
      tags:
      - admin/doctor
      summary: Get list of doctor
      operationId: getListDoctorByAdmin
      parameters:
      - name: os
        in: header
        description: Device OS
        required: true
        schema:
          type: string
          default: ios
      - name: app
        in: header
        description: Application identifier
        required: true
        schema:
          type: string
          default: "com.cloud273.admin|1.0.0"
      - name: token
        in: header
        description: Access token
        required: true
        schema:
          type: string
          default: "admin_token_here"
      - name: clinicId
        in: query
        description: clinicId
        required: true
        schema:
          type: integer
          default: 1
          example: 1
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DoctorBasic'
        400:
          description: Bad request
        403:
          description: Invalid token
        404:
          description: Not found (clinic)
        500:
          description: Unknown
  /admin/doctor/deactivate:  
    patch:
      tags:
      - admin/doctor
      summary: Deactivate doctor
      operationId: deactivateDoctorByAdmin
      parameters:
      - name: os
        in: header
        description: Device OS
        required: true
        schema:
          type: string
          default: ios
      - name: app
        in: header
        description: Application identifier
        required: true
        schema:
          type: string
          default: "com.cloud273.admin|1.0.0"
      - name: token
        in: header
        description: Access token
        required: true
        schema:
          type: string
          default: "admin_token_here"
      requestBody:
        content:
          application/json:
            schema:
              required: [id]
              type: object
              properties:
                id:
                  $ref: '#/components/schemas/ID'
        required: true
      responses:
        200:
          description: Deactivated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeactivatedMessage'
        400:
          description: Bad request
        403:
          description: Invalid token
        404:
          description: Not found
        500:
          description: Unknown
  /admin/clinic-certificate:
    post:
      tags:
      - admin/clinic-certificate
      summary: Create clinic certificate
      operationId: createClinicCertificateByAdmin
      parameters:
      - name: os
        in: header
        description: Device OS
        required: true
        schema:
          type: string
          default: ios
      - name: app
        in: header
        description: Application identifier
        required: true
        schema:
          type: string
          default: "com.cloud273.admin|1.0.0"
      - name: token
        in: header
        description: Access token
        required: true
        schema:
          type: string
          default: "admin_token_here"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClinicCertCreate'
        required: true
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedWithIDMessage'
        400:
          description: Bad request
        403:
          description: Invalid token
        404:
          description: Not found (Clinic)
        500:
          description: Unknown
    put:
      tags:
      - admin/clinic-certificate
      summary: Update clinic certificate
      operationId: updateClinicCertificateByAdmin
      parameters:
      - name: os
        in: header
        description: Device OS
        required: true
        schema:
          type: string
          default: ios
      - name: app
        in: header
        description: Application identifier
        required: true
        schema:
          type: string
          default: "com.cloud273.admin|1.0.0"
      - name: token
        in: header
        description: Access token
        required: true
        schema:
          type: string
          default: "admin_token_here"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClinicCertUpdateWithID'
        required: true
      responses:
        200:
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatedMessage'
        400:
          description: Bad request
        403:
          description: Invalid token
        404:
          description: Not found
        500:
          description: Unknown
  /admin/clinic-certificate/deactivate:  
    patch:
      tags:
      - admin/clinic-certificate
      summary: Deactivate clinic certificate
      operationId: deactivateClinicCertificateByAdmin
      parameters:
      - name: os
        in: header
        description: Device OS
        required: true
        schema:
          type: string
          default: ios
      - name: app
        in: header
        description: Application identifier
        required: true
        schema:
          type: string
          default: "com.cloud273.admin|1.0.0"
      - name: token
        in: header
        description: Access token
        required: true
        schema:
          type: string
          default: "admin_token_here"
      requestBody:
        content:
          application/json:
            schema:
              required: [id]
              type: object
              properties:
                id:
                  $ref: '#/components/schemas/ID'
        required: true
      responses:
        200:
          description: Deactivated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeactivatedMessage'
        400:
          description: Bad request
        403:
          description: Invalid token
        404:
          description: Not found
        500:
          description: Unknown
  /admin/doctor-certificate:
    post:
      tags:
      - admin/doctor-certificate
      summary: Create doctor certificate
      operationId: createDoctorCertificateByAdmin
      parameters:
      - name: os
        in: header
        description: Device OS
        required: true
        schema:
          type: string
          default: ios
      - name: app
        in: header
        description: Application identifier
        required: true
        schema:
          type: string
          default: "com.cloud273.admin|1.0.0"
      - name: token
        in: header
        description: Access token
        required: true
        schema:
          type: string
          default: "admin_token_here"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DoctorCertCreate'
        required: true
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedWithIDMessage'
        400:
          description: Bad request
        403:
          description: Invalid token
        404:
          description: Not found (Doctor)
        500:
          description: Unknown
    put:
      tags:
      - admin/doctor-certificate
      summary: Update doctor certificate
      operationId: updateDoctorCertificateByAdmin
      parameters:
      - name: os
        in: header
        description: Device OS
        required: true
        schema:
          type: string
          default: ios
      - name: app
        in: header
        description: Application identifier
        required: true
        schema:
          type: string
          default: "com.cloud273.admin|1.0.0"
      - name: token
        in: header
        description: Access token
        required: true
        schema:
          type: string
          default: "admin_token_here"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DoctorCertUpdateWithID'
        required: true
      responses:
        200:
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatedMessage'
        400:
          description: Bad request
        403:
          description: Invalid token
        404:
          description: Not found
        500:
          description: Unknown
  /admin/doctor-certificate/deactivate:  
    patch:
      tags:
      - admin/doctor-certificate
      summary: Deactivate doctor certificate
      operationId: deactivateDoctorCertificateByAdmin
      parameters:
      - name: os
        in: header
        description: Device OS
        required: true
        schema:
          type: string
          default: ios
      - name: app
        in: header
        description: Application identifier
        required: true
        schema:
          type: string
          default: "com.cloud273.admin|1.0.0"
      - name: token
        in: header
        description: Access token
        required: true
        schema:
          type: string
          default: "admin_token_here"
      requestBody:
        content:
          application/json:
            schema:
              required: [id]
              type: object
              properties:
                id:
                  $ref: '#/components/schemas/ID'
        required: true
      responses:
        200:
          description: Deactivated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeactivatedMessage'
        400:
          description: Bad request
        403:
          description: Invalid token
        404:
          description: Not found
        500:
          description: Unknown
  /admin/package:
    post:
      tags:
      - admin/package
      summary: Create package
      operationId: createPackageByAdmin
      parameters:
      - name: os
        in: header
        description: Device OS
        required: true
        schema:
          type: string
          default: ios
      - name: app
        in: header
        description: Application identifier
        required: true
        schema:
          type: string
          default: "com.cloud273.admin|1.0.0"
      - name: token
        in: header
        description: Access token
        required: true
        schema:
          type: string
          default: "admin_token_here"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PackageCreate'
        required: true
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedWithIDMessage'
        400:
          description: Bad request
        403:
          description: Invalid token
        404:
          description: Not found (Doctor)
        406:
          description: Invalid specialty (specialty not in doctor specialties)
        409:
          description: Existed 
        500:
          description: Unknown
    put:
      tags:
      - admin/package
      summary: Update package
      operationId: updatePackageByAdmin
      parameters:
      - name: os
        in: header
        description: Device OS
        required: true
        schema:
          type: string
          default: ios
      - name: app
        in: header
        description: Application identifier
        required: true
        schema:
          type: string
          default: "com.cloud273.admin|1.0.0"
      - name: token
        in: header
        description: Access token
        required: true
        schema:
          type: string
          default: "admin_token_here"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PackageUpdateWithID'
        required: true
      responses:
        200:
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatedMessage'
        400:
          description: Bad request
        403:
          description: Invalid token
        404:
          description: Not found
        406:
          description: Invalid specialty (specialty not in doctor specialties)
        500:
          description: Unknown
  /admin/package/list:
    get:
      tags:
      - admin/package
      summary: Get list package of doctor 
      operationId: getListPackageByAdmin
      parameters:
      - name: os
        in: header
        description: Device OS
        required: true
        schema:
          type: string
          default: ios
      - name: app
        in: header
        description: Application identifier
        required: true
        schema:
          type: string
          default: "com.cloud273.admin|1.0.0"
      - name: token
        in: header
        description: Access token
        required: true
        schema:
          type: string
          default: "admin_token_here"
      - name: doctorId
        in: query
        description: doctorId
        required: true
        schema:
          type: integer
          default: 1
          example: 1
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PackageBasic'
        400:
          description: Bad request
        403:
          description: Invalid token
        404:
          description: Not found (doctor)
        500:
          description: Unknown
  /admin/package/deactivate:  
    patch:
      tags:
      - admin/package
      summary: Deactivate package
      operationId: deactivatePackageByAdmin
      parameters:
      - name: os
        in: header
        description: Device OS
        required: true
        schema:
          type: string
          default: ios
      - name: app
        in: header
        description: Application identifier
        required: true
        schema:
          type: string
          default: "com.cloud273.admin|1.0.0"
      - name: token
        in: header
        description: Access token
        required: true
        schema:
          type: string
          default: "admin_token_here"
      requestBody:
        content:
          application/json:
            schema:
              required: [id]
              type: object
              properties:
                id:
                  $ref: '#/components/schemas/ID'
        required: true
      responses:
        200:
          description: Deactivated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeactivatedMessage'
        400:
          description: Bad request
        403:
          description: Invalid token
        404:
          description: Not found
        500:
          description: Unknown
  /admin/schedule:
    post:
      tags:
      - admin/schedule
      summary: Create schedule
      operationId: createScheduleByAdmin
      parameters:
      - name: os
        in: header
        description: Device OS
        required: true
        schema:
          type: string
          default: ios
      - name: app
        in: header
        description: Application identifier
        required: true
        schema:
          type: string
          default: "com.cloud273.admin|1.0.0"
      - name: token
        in: header
        description: Access token
        required: true
        schema:
          type: string
          default: "admin_token_here"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScheduleCreate'
        required: true
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedWithIDMessage'
        400:
          description: Bad request
        403:
          description: Invalid token
        404:
          description: Not found (Doctor | Package)
        409:
          description: Existed 
        500:
          description: Unknown
    put:
      tags:
      - admin/schedule
      summary: Update schedule
      operationId: updateScheduleByAdmin
      parameters:
      - name: os
        in: header
        description: Device OS
        required: true
        schema:
          type: string
          default: ios
      - name: app
        in: header
        description: Application identifier
        required: true
        schema:
          type: string
          default: "com.cloud273.admin|1.0.0"
      - name: token
        in: header
        description: Access token
        required: true
        schema:
          type: string
          default: "admin_token_here"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScheduleUpdateWithID'
        required: true
      responses:
        200:
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatedMessage'
        400:
          description: Bad request
        403:
          description: Invalid token
        404:
          description: Not found
        409:
          description: Existed 
        500:
          description: Unknown
  /admin/schedule/list:
    get:
      tags:
      - admin/schedule
      summary: Get list schedule of package 
      operationId: getListScheduleByAdmin
      parameters:
      - name: os
        in: header
        description: Device OS
        required: true
        schema:
          type: string
          default: ios
      - name: app
        in: header
        description: Application identifier
        required: true
        schema:
          type: string
          default: "com.cloud273.admin|1.0.0"
      - name: token
        in: header
        description: Access token
        required: true
        schema:
          type: string
          default: "admin_token_here"
      - name: packageId
        in: query
        description: packageId
        required: true
        schema:
          type: integer
          default: 1
          example: 1
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScheduleBasic'
        400:
          description: Bad request
        403:
          description: Invalid token
        404:
          description: Not found (Doctor | Package)
        500:
          description: Unknown
  /admin/schedule/deactivate:  
    patch:
      tags:
      - admin/schedule
      summary: Deactivate schedule
      operationId: deactivateScheduleByAdmin
      parameters:
      - name: os
        in: header
        description: Device OS
        required: true
        schema:
          type: string
          default: ios
      - name: app
        in: header
        description: Application identifier
        required: true
        schema:
          type: string
          default: "com.cloud273.admin|1.0.0"
      - name: token
        in: header
        description: Access token
        required: true
        schema:
          type: string
          default: "admin_token_here"
      requestBody:
        content:
          application/json:
            schema:
              required: [id]
              type: object
              properties:
                id:
                  $ref: '#/components/schemas/ID'
        required: true
      responses:
        200:
          description: Deactivated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeactivatedMessage'
        400:
          description: Bad request
        403:
          description: Invalid token
        404:
          description: Not found
        500:
          description: Unknown
  /admin/appointment:
    get:
      tags:
      - admin/appointment
      summary: Get appointment
      operationId: getAppointmentByAdmin
      parameters:
      - name: os
        in: header
        description: Device OS
        required: true
        schema:
          type: string
          default: ios
      - name: app
        in: header
        description: Application identifier
        required: true
        schema:
          type: string
          default: "com.cloud273.admin|1.0.0"
      - name: token
        in: header
        description: Access token
        required: true
        schema:
          type: string
          default: "admin_token_here"
      - name: id
        in: query
        description: id
        required: true
        schema:
          type: number
          default: 1
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentDetail'
        400:
          description: Bad request
        403:
          description: Invalid token
        404:
          description: Not found
        500:
          description: Unknown
  /admin/appointment/list:
    get:
      tags:
      - admin/appointment
      summary: Get list of appointment
      operationId: getListAppointmentByAdmin
      parameters:
      - name: os
        in: header
        description: Device OS
        required: true
        schema:
          type: string
          default: ios
      - name: app
        in: header
        description: Application identifier
        required: true
        schema:
          type: string
          default: "com.cloud273.admin|1.0.0"
      - name: token
        in: header
        description: Access token
        required: true
        schema:
          type: string
          default: "admin_token_here"
      - name: type
        in: query
        description: type
        required: true
        schema:
          type: string
          default: "classic"
          enum: ["classic", "telemed"]
      - name: statusTypes
        in: query
        description: type
        required: true
        schema:
          type: string
          default: "W2FjY2VwdGVkXQ=="
      - name: from
        in: query
        description: from
        required: true
        schema:
          type: string
          default: "2019-12-25T07%3A00%3A00%2B07%3A00"
      - name: to
        in: query
        description: to
        required: true
        schema:
          type: string
          default: "2020-01-31T07%3A00%3A00%2B07%3A00"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AppointmentBasic'
        400:
          description: Bad request
        403:
          description: Invalid token
        500:
          description: Unknown
  /admin/appointment/reject:
    patch:
      tags:
      - admin/appointment
      summary: Reject an appointment
      operationId: rejectAppointmentByAdmin
      parameters:
      - in: header
        name: os
        description: Device OS
        required: true
        schema:
          type: string
          default: ios
      - name: app
        in: header
        description: Application identifier
        required: true
        schema:
          type: string
          default: "com.cloud273.admin|1.0.0"
      - name: token
        in: header
        description: Access token
        required: true
        schema:
          type: string
          default: "admin_token_here"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  $ref: '#/components/schemas/ID'
                note:
                  type: string
                  example: "Rejected by admin"
                  default: "Rejected by admin"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessMessage'
        400:
          description: Bad request
        403:
          description: Invalid token
        404:
          description: Not found
        406:
          description: Can not be rejected
        500:
          description: Unknown

  /clinic/account:
    get:
      tags:
      - clinic/account
      summary: Get clinic account
      operationId: getClinicAccount
      parameters:
      - name: os
        in: header
        description: Device OS
        required: true
        schema:
          type: string
          default: ios
      - name: app
        in: header
        description: Application identifier
        required: true
        schema:
          type: string
          default: "com.cloud273.clinic|1.0.0"
      - name: token
        in: header
        description: Access token
        required: true
        schema:
          type: string
          default: "clinic_token_here"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClinicUserDetail'   
        400:
          description: Bad request
        403:
          description: Invalid token
        500:
          description: Unknown
  /clinic:
    get:
      tags:
      - clinic/information
      summary: Get clinic information
      operationId: getClinicByClinic
      parameters:
      - name: os
        in: header
        description: Device OS
        required: true
        schema:
          type: string
          default: ios
      - name: app
        in: header
        description: Application identifier
        required: true
        schema:
          type: string
          default: "com.cloud273.clinic|1.0.0"
      - name: token
        in: header
        description: Access token
        required: true
        schema:
          type: string
          default: "clinic_token_here"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClinicDetailWithCert'   
        400:
          description: Bad request
        403:
          description: Invalid token
        500:
          description: Unknown
  /clinic/doctor/list:
    get:
      tags:
      - clinic/information
      summary: Get list of doctor
      operationId: getListDoctorByClinic
      parameters:
      - name: os
        in: header
        description: Device OS
        required: true
        schema:
          type: string
          default: ios
      - name: app
        in: header
        description: Application identifier
        required: true
        schema:
          type: string
          default: "com.cloud273.clinic|1.0.0"
      - name: token
        in: header
        description: Access token
        required: true
        schema:
          type: string
          default: "clinic_token_here"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DoctorBasic'
        400:
          description: Bad request
        403:
          description: Invalid token
        500:
          description: Unknown
  /clinic/doctor:
    get:
      tags:
      - clinic/information
      summary: Get doctor
      operationId: getDoctorByClinic
      parameters:
      - name: os
        in: header
        description: Device OS
        required: true
        schema:
          type: string
          default: ios
      - name: app
        in: header
        description: Application identifier
        required: true
        schema:
          type: string
          default: "com.cloud273.clinic|1.0.0"
      - name: token
        in: header
        description: Access token
        required: true
        schema:
          type: string
          default: "clinic_token_here"
      - name: id
        in: query
        description: doctorId
        required: true
        schema:
          type: number
          default: 1
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DoctorDetailWithCert'   
        400:
          description: Bad request
        403:
          description: Invalid token
        404:
          description: Not found
        500:
          description: Unknown
  /clinic/doctor/package/list:
    get:
      tags:
      - clinic/information
      summary: Get list of package of a doctor
      operationId: getListPackageOfDoctorByClinic
      parameters:
      - name: os
        in: header
        description: Device OS
        required: true
        schema:
          type: string
          default: ios
      - name: app
        in: header
        description: Application identifier
        required: true
        schema:
          type: string
          default: "com.cloud273.clinic|1.0.0"
      - name: token
        in: header
        description: Access token
        required: true
        schema:
          type: string
          default: "clinic_token_here"
      - name: doctorId
        in: query
        description: doctorId
        required: true
        schema:
          type: number
          default: 1
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PackageBasic'
        400:
          description: Bad request
        403:
          description: Invalid token
        404:
          description: Not found doctor
        500:
          description: Unknown
  /clinic/doctor/working-time/list:
    get:
      tags:
      - clinic/information
      summary: Get list of working time of a doctor
      operationId: getListWorkingTimeOfDoctorByClinic
      parameters:
      - name: os
        in: header
        description: Device OS
        required: true
        schema:
          type: string
          default: ios
      - name: app
        in: header
        description: Application identifier
        required: true
        schema:
          type: string
          default: "com.cloud273.clinic|1.0.0"
      - name: token
        in: header
        description: Access token
        required: true
        schema:
          type: string
          default: "clinic_token_here"
      - name: doctorId
        in: query
        description: doctorId
        required: true
        schema:
          type: number
          default: 1
      - name: from
        in: query
        description: from
        required: true
        schema:
          type: string
          default: "2019-12-12T07%3A00%3A00%2B07%3A00"
      - name: to
        in: query
        description: to
        required: true
        schema:
          type: string
          default: "2020-01-31T07%3A00%3A00%2B07%3A00"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WorkingTimeDetail'
        400:
          description: Bad request
        403:
          description: Invalid token
        404:
          description: Not found doctor
        500:
          description: Unknown
  /clinic/doctor/package:
    get:
      tags:
      - clinic/information
      summary: Get package of doctor (include active schedule)
      operationId: getPackageWithTimeOfDoctorByClinic
      parameters:
      - name: os
        in: header
        description: Device OS
        required: true
        schema:
          type: string
          default: ios
      - name: app
        in: header
        description: Application identifier
        required: true
        schema:
          type: string
          default: "com.cloud273.clinic|1.0.0"
      - name: token
        in: header
        description: Access token
        required: true
        schema:
          type: string
          default: "clinic_token_here"
      - name: id
        in: query
        description: packageId
        required: true
        schema:
          type: number
          default: 1
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PackageDetailWithSchedule'   
        400:
          description: Bad request
        403:
          description: Invalid token
        404:
          description: Not found
        500:
          description: Unknown
  /clinic/doctor/working-day:
    post:
      tags:
      - clinic/working-day
      summary: Create/Update working day of doctor
      operationId: createWorkingDayOfDoctorByClinic
      parameters:
      - name: os
        in: header
        description: Device OS
        required: true
        schema:
          type: string
          default: ios
      - name: app
        in: header
        description: Application identifier
        required: true
        schema:
          type: string
          default: "com.cloud273.clinic|1.0.0"
      - name: token
        in: header
        description: Access token
        required: true
        schema:
          type: string
          default: "clinic_token_here"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkingDayCreate'
        required: true
      responses:
        200:
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatedMessage'
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedWithIDMessage'
        400:
          description: Bad request
        403:
          description: Invalid token
        404:
          description: Not found (Doctor | Package)
        500:
          description: Unknown
  /clinic/appointment:
    get:
      tags:
      - clinic/appointment
      summary: Get appointment
      operationId: getAppointmentByClinic
      parameters:
      - name: os
        in: header
        description: Device OS
        required: true
        schema:
          type: string
          default: ios
      - name: app
        in: header
        description: Application identifier
        required: true
        schema:
          type: string
          default: "com.cloud273.clinic|1.0.0"
      - name: token
        in: header
        description: Access token
        required: true
        schema:
          type: string
          default: "clinic_token_here"
      - name: id
        in: query
        description: id
        required: true
        schema:
          type: number
          default: 1
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentDetail'
        400:
          description: Bad request
        403:
          description: Invalid token
        404:
          description: Not found
        500:
          description: Unknown
  /clinic/appointment/list:
    get:
      tags:
      - clinic/appointment
      summary: Get list of appointment
      operationId: getListAppointmentByClinic
      parameters:
      - name: os
        in: header
        description: Device OS
        required: true
        schema:
          type: string
          default: ios
      - name: app
        in: header
        description: Application identifier
        required: true
        schema:
          type: string
          default: "com.cloud273.clinic|1.0.0"
      - name: token
        in: header
        description: Access token
        required: true
        schema:
          type: string
          default: "clinic_token_here"
      - name: type
        in: query
        description: type
        required: true
        schema:
          type: string
          default: "classic"
          enum: ["classic", "telemed"]
      - name: statusTypes
        in: query
        description: type
        required: true
        schema:
          type: string
          default: "W2FjY2VwdGVkXQ=="
      - name: from
        in: query
        description: from
        required: true
        schema:
          type: string
          default: "2019-12-25T07%3A00%3A00%2B07%3A00"
      - name: to
        in: query
        description: to
        required: true
        schema:
          type: string
          default: "2020-01-31T07%3A00%3A00%2B07%3A00"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AppointmentBasic'
        400:
          description: Bad request
        403:
          description: Invalid token
        500:
          description: Unknown
  /clinic/appointment/accept:
    patch:
      tags:
      - clinic/appointment
      summary: Accept an appointment
      operationId: acceptAppointmentByClinic
      parameters:
      - in: header
        name: os
        description: Device OS
        required: true
        schema:
          type: string
          default: ios
      - name: app
        in: header
        description: Application identifier
        required: true
        schema:
          type: string
          default: "com.cloud273.clinic|1.0.0"
      - name: token
        in: header
        description: Access token
        required: true
        schema:
          type: string
          default: "clinic_token_here"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  $ref: '#/components/schemas/ID'
                note:
                  type: string
                  example: "Rejected by clinic"
                  default: "Rejected by clinic"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessMessage'
        400:
          description: Bad request
        403:
          description: Invalid token
        404:
          description: Not found
        406:
          description: Can not be accepted
        500:
          description: Unknown 
  /clinic/appointment/reject:
    patch:
      tags:
      - clinic/appointment
      summary: Reject an appointment
      operationId: rejectAppointmentByClinic
      parameters:
      - in: header
        name: os
        description: Device OS
        required: true
        schema:
          type: string
          default: ios
      - name: app
        in: header
        description: Application identifier
        required: true
        schema:
          type: string
          default: "com.cloud273.clinic|1.0.0"
      - name: token
        in: header
        description: Access token
        required: true
        schema:
          type: string
          default: "clinic_token_here"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  $ref: '#/components/schemas/ID'
                note:
                  type: string
                  example: "Rejected by clinic"
                  default: "Rejected by clinic"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessMessage'
        400:
          description: Bad request
        403:
          description: Invalid token
        404:
          description: Not found
        406:
          description: Can not be rejected
        500:
          description: Unknown
  /doctor:
    get:
      tags:
      - doctor/information
      summary: Get doctor account
      operationId: getDoctorAccount
      parameters:
      - name: os
        in: header
        description: Device OS
        required: true
        schema:
          type: string
          default: ios
      - name: app
        in: header
        description: Application identifier
        required: true
        schema:
          type: string
          default: "com.cloud273.doctor|1.0.0"
      - name: token
        in: header
        description: Access token
        required: true
        schema:
          type: string
          default: "doctor_token_here"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DoctorDetailWithCert'   
        400:
          description: Bad request
        403:
          description: Invalid token
        500:
          description: Unknown
  /doctor/info:
    get:
      tags:
      - doctor/information
      summary: Get doctor, clinic information
      operationId: getDoctorClinicCountInfo
      parameters:
      - name: os
        in: header
        description: Device OS
        required: true
        schema:
          type: string
          default: ios
      - name: app
        in: header
        description: Application identifier
        required: true
        schema:
          type: string
          default: "com.cloud273.doctor|1.0.0"
      - name: token
        in: header
        description: Access token
        required: true
        schema:
          type: string
          default: "doctor_token_here"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  doctor:
                      $ref: '#/components/schemas/DoctorDetailWithCert'
                  clinic:
                      $ref: '#/components/schemas/ClinicDetailWithCert'
        400:
          description: Bad request
        403:
          description: Invalid token
        500:
          description: Unknown
  /doctor/clinic:
    get:
      tags:
      - doctor/information
      summary: Get clinic information
      operationId: getClinicByDoctor
      parameters:
      - name: os
        in: header
        description: Device OS
        required: true
        schema:
          type: string
          default: ios
      - name: app
        in: header
        description: Application identifier
        required: true
        schema:
          type: string
          default: "com.cloud273.doctor|1.0.0"
      - name: token
        in: header
        description: Access token
        required: true
        schema:
          type: string
          default: "doctor_token_here"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClinicDetailWithCert'   
        400:
          description: Bad request
        403:
          description: Invalid token
        500:
          description: Unknown
  /doctor/package/list:
    get:
      tags:
      - doctor/information
      summary: Get list package of doctor
      operationId: getListPackageByDoctor
      parameters:
      - name: os
        in: header
        description: Device OS
        required: true
        schema:
          type: string
          default: ios
      - name: app
        in: header
        description: Application identifier
        required: true
        schema:
          type: string
          default: "com.cloud273.doctor|1.0.0"
      - name: token
        in: header
        description: Access token
        required: true
        schema:
          type: string
          default: "doctor_token_here"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PackageBasic'   
        400:
          description: Bad request
        403:
          description: Invalid token
        500:
          description: Unknown
  /doctor/working-time/list:
    get:
      tags:
      - doctor/information
      summary: Get list working time of doctor
      operationId: getListWorkingTimeByDoctor
      parameters:
      - name: os
        in: header
        description: Device OS
        required: true
        schema:
          type: string
          default: ios
      - name: app
        in: header
        description: Application identifier
        required: true
        schema:
          type: string
          default: "com.cloud273.doctor|1.0.0"
      - name: token
        in: header
        description: Access token
        required: true
        schema:
          type: string
          default: "doctor_token_here"
      - name: from
        in: query
        description: from
        required: true
        schema:
          type: string
          default: "2019-12-12T07%3A00%3A00%2B07%3A00"
      - name: to
        in: query
        description: to
        required: true
        schema:
          type: string
          default: "2020-01-31T07%3A00%3A00%2B07%3A00"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WorkingTimeDetail'   
        400:
          description: Bad request
        403:
          description: Invalid token
        500:
          description: Unknown
  /doctor/package:
    get:
      tags:
      - doctor/information
      summary: Get package (include active schedule)
      operationId: getPackageByDoctor
      parameters:
      - name: os
        in: header
        description: Device OS
        required: true
        schema:
          type: string
          default: ios
      - name: app
        in: header
        description: Application identifier
        required: true
        schema:
          type: string
          default: "com.cloud273.doctor|1.0.0"
      - name: token
        in: header
        description: Access token
        required: true
        schema:
          type: string
          default: "doctor_token_here"
      - name: id
        in: query
        description: packageId
        required: true
        schema:
          type: integer
          default: 1
          example: 1
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PackageDetailWithSchedule'   
        400:
          description: Bad request
        403:
          description: Invalid token
        500:
          description: Unknown
  /doctor/appointment:
    get:
      tags:
      - doctor/appointment
      summary: Get appointment
      operationId: getAppointmentByDoctor
      parameters:
      - name: os
        in: header
        description: Device OS
        required: true
        schema:
          type: string
          default: ios
      - name: app
        in: header
        description: Application identifier
        required: true
        schema:
          type: string
          default: "com.cloud273.doctor|1.0.0"
      - name: token
        in: header
        description: Access token
        required: true
        schema:
          type: string
          default: "doctor_token_here"
      - name: id
        in: query
        description: id
        required: true
        schema:
          type: number
          default: 1
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentDetail'
        400:
          description: Bad request
        403:
          description: Invalid token
        404:
          description: Not found
        500:
          description: Unknown
  /doctor/appointment/list:
    get:
      tags:
      - doctor/appointment
      summary: Get list of appointment
      operationId: getListAppointmentByDoctor
      parameters:
      - name: os
        in: header
        description: Device OS
        required: true
        schema:
          type: string
          default: ios
      - name: app
        in: header
        description: Application identifier
        required: true
        schema:
          type: string
          default: "com.cloud273.doctor|1.0.0"
      - name: token
        in: header
        description: Access token
        required: true
        schema:
          type: string
          default: "doctor_token_here"
      - name: type
        in: query
        description: type
        required: true
        schema:
          type: string
          default: "classic"
          enum: ["classic", "telemed"]
      - name: statusTypes
        in: query
        description: type
        required: true
        schema:
          type: string
          default: "W2FjY2VwdGVkXQ=="
      - name: from
        in: query
        description: from
        required: true
        schema:
          type: string
          default: "2019-12-25T07%3A00%3A00%2B07%3A00"
      - name: to
        in: query
        description: to
        required: true
        schema:
          type: string
          default: "2020-01-31T07%3A00%3A00%2B07%3A00"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AppointmentBasic'
        400:
          description: Bad request
        403:
          description: Invalid token
        500:
          description: Unknown
  /doctor/appointment/begin:
    patch:
      tags:
      - doctor/appointment
      summary: Begin an appointment
      operationId: beginAppointmentByDoctor
      parameters:
      - in: header
        name: os
        description: Device OS
        required: true
        schema:
          type: string
          default: ios
      - name: app
        in: header
        description: Application identifier
        required: true
        schema:
          type: string
          default: "com.cloud273.doctor|1.0.0"
      - name: token
        in: header
        description: Access token
        required: true
        schema:
          type: string
          default: "doctor_token_here"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  $ref: '#/components/schemas/ID'
                note:
                  type: string
                  example: "Begin by doctor"
                  default: "Begin by doctor"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessMessage'
        400:
          description: Bad request
        403:
          description: Invalid token
        404:
          description: Not found
        406:
          description: Can not be begun
        500:
          description: Unknown
  /doctor/appointment/finish:
    patch:
      tags:
      - doctor/appointment
      summary: Finish an appointment
      operationId: finishAppointmentByDoctor
      parameters:
      - in: header
        name: os
        description: Device OS
        required: true
        schema:
          type: string
          default: ios
      - name: app
        in: header
        description: Application identifier
        required: true
        schema:
          type: string
          default: "com.cloud273.doctor|1.0.0"
      - name: token
        in: header
        description: Access token
        required: true
        schema:
          type: string
          default: "doctor_token_here"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  $ref: '#/components/schemas/ID'
                note:
                  type: string
                  example: "Finished by doctor"
                  default: "Finished by doctor"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessMessage'
        400:
          description: Bad request
        403:
          description: Invalid token
        404:
          description: Not found
        406:
          description: Can not be finished
        500:
          description: Unknown
          
  /patient:
    get:
      tags:
      - patient/account
      summary: Get patient account
      operationId: getPatientAccount
      parameters:
      - name: os
        in: header
        description: Device OS
        required: true
        schema:
          type: string
          default: ios
      - name: app
        in: header
        description: Application identifier
        required: true
        schema:
          type: string
          default: "com.cloud273.patient|1.0.0"
      - name: token
        in: header
        description: Access token
        required: true
        schema:
          type: string
          default: "patient_token_here"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatientDetail'   
        400:
          description: Bad request
        403:
          description: Invalid token
        500:
          description: Unknown
    post:
      tags:
      - patient/account
      summary: Create patient account
      operationId: patientCreateAccount
      parameters:
      - name: os
        in: header
        description: Device OS
        required: true
        schema:
          type: string
          default: ios
      - name: app
        in: header
        description: Application identifier
        required: true
        schema:
          type: string
          default: "com.cloud273.patient|1.0.0"
      - name: token
        in: header
        description: Access token
        required: true
        schema:
          type: string
          default: "patient_token_here"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatientCreate'
        required: true
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedWithIDMessage'
        400:
          description: Bad request
        401:
          description: Invalid phone number or email
        403:
          description: Invalid token
        409:
          description: Existed
        500:
          description: Unknown
    put:
      tags:
      - patient/account
      summary: Update patient account
      operationId: updatePatientAccount
      parameters:
      - name: os
        in: header
        description: Device OS
        required: true
        schema:
          type: string
          default: ios
      - name: app
        in: header
        description: Application identifier
        required: true
        schema:
          type: string
          default: "com.cloud273.patient|1.0.0"
      - name: token
        in: header
        description: Access token
        required: true
        schema:
          type: string
          default: "patient_token_here"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatientUpdate'
        required: true
      responses:
        200:
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatedMessage'
        400:
          description: Bad request
        403:
          description: Invalid token
        500:
          description: Unknown
    patch:
      tags:
      - patient/account
      summary: Update partial patient account (language or image)
      operationId: updatePartialPatientAccount
      parameters:
      - name: os
        in: header
        description: Device OS
        required: true
        schema:
          type: string
          default: ios
      - name: app
        in: header
        description: Application identifier
        required: true
        schema:
          type: string
          default: "com.cloud273.patient|1.0.0"
      - name: token
        in: header
        description: Access token
        required: true
        schema:
          type: string
          default: "patient_token_here"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                image:
                  $ref: '#/components/schemas/ImageUrl'
                language:
                  $ref: '#/components/schemas/Language'
        required: true
      responses:
        200:
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatedMessage'
        400:
          description: Bad request
        403:
          description: Invalid token
        500:
          description: Unknown
  /patient/update-username-request:
    patch:
      tags:
      - patient/account
      summary: Update username request
      operationId: updatePatientUsernameRequest
      parameters:
      - name: os
        in: header
        description: Device OS
        required: true
        schema:
          type: string
          default: ios
      - name: app
        in: header
        description: Application identifier
        required: true
        schema:
          type: string
          default: "com.cloud273.patient|1.0.0"
      - name: token
        in: header
        description: Access token
        required: true
        schema:
          type: string
          default: "patient_token_here"
      - name: language
        in: header
        description: Language
        required: true
        schema:
          type: string
          default: vi
          enum:
            - vi
            - en
      requestBody:
        content:
          application/json:
            schema:
              required:
              - password
              - username
              type: object
              properties:
                password:
                  $ref: '#/components/schemas/Password'
                username:
                  $ref: '#/components/schemas/Username'
        required: true
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CodeMessage'
        400:
          description: Bad request
        403:
          description: Invalid token
        409:
          description: Email existed
        500:
          description: Unknown
  /patient/update-username:
    patch:
      tags:
      - patient/account
      summary: Update email
      operationId: updatePatientEmail
      parameters:
      - name: os
        in: header
        description: Device OS
        required: true
        schema:
          type: string
          default: ios
      - name: app
        in: header
        description: Application identifier
        required: true
        schema:
          type: string
          default: "com.cloud273.patient|1.0.0"
      - name: token
        in: header
        description: Access token
        required: true
        schema:
          type: string
          default: "patient_token_here"
      requestBody:
        content:
          application/json:
            schema:
              required:
              - code
              - username
              type: object
              properties:
                code:
                  $ref: '#/components/schemas/Code'
                username:
                  $ref: '#/components/schemas/Username'
        required: true
      responses:
        200:
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatedMessage'
        400:
          description: Bad request
        403:
          description: Invalid token
        404:
          description: Not found (Invalid Code)
        409:
          description: Email existed
        500:
          description: Unknown
  /patient/health:
    get:
      tags:
      - patient/health
      summary: Get health profile
      operationId: getHealthProfileByPatient
      parameters:
      - name: os
        in: header
        description: Device OS
        required: true
        schema:
          type: string
          default: ios
      - name: app
        in: header
        description: Application identifier
        required: true
        schema:
          type: string
          default: "com.cloud273.patient|1.0.0"
      - name: token
        in: header
        description: Access token
        required: true
        schema:
          type: string
          default: "patient_token_here"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  allergies:
                    type: array
                    items:
                      $ref: '#/components/schemas/AllergyDetail'
                  surgeries:
                    type: array
                    items:
                      $ref: '#/components/schemas/SurgeryDetail'
                  medications:
                    type: array
                    items:
                      $ref: '#/components/schemas/MedicationDetail'
        400:
          description: Bad request
        403:
          description: Invalid token
        500:
          description: Unknown
  /patient/health/allergy:
    post:
      tags:
      - patient/health
      summary: Create allergy
      operationId: createAllergy
      parameters:
      - name: os
        in: header
        description: Device OS
        required: true
        schema:
          type: string
          default: ios
      - name: app
        in: header
        description: Application identifier
        required: true
        schema:
          type: string
          default: "com.cloud273.patient|1.0.0"
      - name: token
        in: header
        description: Access token
        required: true
        schema:
          type: string
          default: "patient_token_here"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AllergyCreate' 
        required: true
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedWithIDMessage'
        400:
          description: Bad request
        403:
          description: Invalid token
        500:
          description: Unknown
    put:
      tags:
      - patient/health
      summary: Update allergy
      operationId: updateAllergy
      parameters:
      - name: os
        in: header
        description: Device OS
        required: true
        schema:
          type: string
          default: ios
      - name: app
        in: header
        description: Application identifier
        required: true
        schema:
          type: string
          default: "com.cloud273.patient|1.0.0"
      - name: token
        in: header
        description: Access token
        required: true
        schema:
          type: string
          default: "patient_token_here"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AllergyUpdateWithID' 
        required: true
      responses:
        200:
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatedMessage'
        400:
          description: Bad request
        403:
          description: Invalid token
        404:
          description: Not found
        500:
          description: Unknown
    delete:
      tags:
      - patient/health
      summary: Delete allergy
      operationId: deleteAllergy
      parameters:
      - name: os
        in: header
        description: Device OS
        required: true
        schema:
          type: string
          default: ios
      - name: app
        in: header
        description: Application identifier
        required: true
        schema:
          type: string
          default: "com.cloud273.patient|1.0.0"
      - name: token
        in: header
        description: Access token
        required: true
        schema:
          type: string
          default: "patient_token_here"
      - name: id
        in: query
        description: Id
        required: true
        schema:
          type: integer
          default: 1
          example: 1
      responses:
        200:
          description: Deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedMessage'  
        400:
          description: Bad request
        403:
          description: Invalid token
        404:
          description: Not found
        500:
          description: Unknown
  /patient/health/surgery:
    post:
      tags:
      - patient/health
      summary: Create surgery
      operationId: createSurgery
      parameters:
      - name: os
        in: header
        description: Device OS
        required: true
        schema:
          type: string
          default: ios
      - name: app
        in: header
        description: Application identifier
        required: true
        schema:
          type: string
          default: "com.cloud273.patient|1.0.0"
      - name: token
        in: header
        description: Access token
        required: true
        schema:
          type: string
          default: "patient_token_here"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SurgeryCreate' 
        required: true
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedWithIDMessage'
        400:
          description: Bad request
        403:
          description: Invalid token
        500:
          description: Unknown
    put:
      tags:
      - patient/health
      summary: Update surgery
      operationId: updateSurgery
      parameters:
      - name: os
        in: header
        description: Device OS
        required: true
        schema:
          type: string
          default: ios
      - name: app
        in: header
        description: Application identifier
        required: true
        schema:
          type: string
          default: "com.cloud273.patient|1.0.0"
      - name: token
        in: header
        description: Access token
        required: true
        schema:
          type: string
          default: "patient_token_here"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SurgeryUpdateWithID' 
        required: true
      responses:
        200:
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatedMessage'
        400:
          description: Bad request
        403:
          description: Invalid token
        404:
          description: Not found
        500:
          description: Unknown
    delete:
      tags:
      - patient/health
      summary: Delete surgery
      operationId: deleteSurgery
      parameters:
      - name: os
        in: header
        description: Device OS
        required: true
        schema:
          type: string
          default: ios
      - name: app
        in: header
        description: Application identifier
        required: true
        schema:
          type: string
          default: "com.cloud273.patient|1.0.0"
      - name: token
        in: header
        description: Access token
        required: true
        schema:
          type: string
          default: "patient_token_here"
      - name: id
        in: query
        description: Id
        required: true
        schema:
          type: integer
          default: 1
          example: 1
      responses:
        200:
          description: Deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedMessage' 
        400:
          description: Bad request
        403:
          description: Invalid token
        404:
          description: Not found
        500:
          description: Unknown
  /patient/health/medication:
    put:
      tags:
      - patient/health
      summary: Update medication
      operationId: updateMedication
      parameters:
      - name: os
        in: header
        description: Device OS
        required: true
        schema:
          type: string
          default: ios
      - name: app
        in: header
        description: Application identifier
        required: true
        schema:
          type: string
          default: "com.cloud273.patient|1.0.0"
      - name: token
        in: header
        description: Access token
        required: true
        schema:
          type: string
          default: "patient_token_here"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MedicationUpdateWithID' 
        required: true
      responses:
        200:
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatedMessage'
        400:
          description: Bad request
        403:
          description: Invalid token
        404:
          description: Not found
        500:
          description: Unknown
  /patient/booking/specialty/list:
    get:
      tags:
      - patient/booking
      summary: Get list specialty
      operationId: getListActiveSpecialtyByPatient
      parameters:
      - name: os
        in: header
        description: Device OS
        required: true
        schema:
          type: string
          default: ios
      - name: app
        in: header
        description: Application identifier
        required: true
        schema:
          type: string
          default: "com.cloud273.patient|1.0.0"
      - name: token
        in: header
        description: Access token
        required: true
        schema:
          type: string
          default: "patient_token_here"
      - name: symptoms
        in: query
        description: symptoms
        required: true
        schema:
          type: string
          default: "base64 of json serialize from array of symptom"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SpecialtyConfig'
        400:
          description: Bad request
        403:
          description: Invalid token
        500:
          description: Unknown
  /patient/booking/doctor/list:
    get:
      tags:
      - patient/booking
      summary: Get list doctor
      operationId: getListActiveDoctorByPatient
      parameters:
      - name: os
        in: header
        description: Device OS
        required: true
        schema:
          type: string
          default: ios
      - name: app
        in: header
        description: Application identifier
        required: true
        schema:
          type: string
          default: "com.cloud273.patient|1.0.0"
      - name: token
        in: header
        description: Access token
        required: true
        schema:
          type: string
          default: "patient_token_here"
      - name: specialty
        in: query
        description: specialty
        required: true
        schema:
          type: string
          default: "primary"
          enum: ["primary", "cardiology"]
      - name: type
        in: query
        description: type
        required: true
        schema:
          type: string
          default: "classic"
          enum: ["classic", "telemed"]
      - name: longitude
        in: query
        description: longitude
        schema:
          type: number
          format: float
          default: 10.001
      - name: latitude
        in: query
        description: latitude
        schema:
          type: number
          format: float
          default: 10.001
      - name: offsetName
        in: query
        description: offsetName
        schema:
          type: string
          default: name
      - name: limit
        in: query
        description: limit
        schema:
          type: number
          default: 50
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DoctorBasic'
        400:
          description: Bad request
        403:
          description: Invalid token
        500:
          description: Unknown
  /patient/booking/doctor:
    get:
      tags:
      - patient/booking
      summary: Get doctor
      operationId: getActiveDoctorByPatient
      parameters:
      - name: os
        in: header
        description: Device OS
        required: true
        schema:
          type: string
          default: ios
      - name: app
        in: header
        description: Application identifier
        required: true
        schema:
          type: string
          default: "com.cloud273.patient|1.0.0"
      - name: token
        in: header
        description: Access token
        required: true
        schema:
          type: string
          default: "patient_token_here"
      - name: id
        in: query
        description: id
        required: true
        schema:
          type: number
          default: 1
      - name: specialty
        in: query
        description: specialty
        required: true
        schema:
          type: string
          default: "primary"
          enum: ["primary", "cardiology"]
      - name: type
        in: query
        description: type
        required: true
        schema:
          type: string
          default: "classic"
          enum: ["classic", "telemed"]
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DoctorDetailWithCertAndPackage'
        400:
          description: Bad request
        403:
          description: Invalid token
        404:
          description: Not found
        500:
          description: Unknown
  /patient/booking/working-time/list:
    get:
      tags:
      - patient/booking
      summary: Get working time of package
      operationId: getWorkingTimeByPatient
      parameters:
      - name: os
        in: header
        description: Device OS
        required: true
        schema:
          type: string
          default: ios
      - name: app
        in: header
        description: Application identifier
        required: true
        schema:
          type: string
          default: "com.cloud273.patient|1.0.0"
      - name: token
        in: header
        description: Access token
        required: true
        schema:
          type: string
          default: "patient_token_here"
      - name: packageId
        in: query
        description: packageId
        required: true
        schema:
          type: number
          default: 1
      - name: from
        in: query
        description: from
        required: true
        schema:
          type: string
          default: "2019-12-12T07%3A00%3A00%2B07%3A00"
      - name: to
        in: query
        description: to
        required: true
        schema:
          type: string
          default: "2020-01-31T07%3A00%3A00%2B07%3A00"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WorkingTimeDetail'
        400:
          description: Bad request
        403:
          description: Invalid token
        404:
          description: Not found
        500:
          description: Unknown
  /patient/booking/time/list:
    get:
      tags:
      - patient/booking
      summary: Get booking time of package
      operationId: getBookingTimeByPatient
      parameters:
      - name: os
        in: header
        description: Device OS
        required: true
        schema:
          type: string
          default: ios
      - name: app
        in: header
        description: Application identifier
        required: true
        schema:
          type: string
          default: "com.cloud273.patient|1.0.0"
      - name: token
        in: header
        description: Access token
        required: true
        schema:
          type: string
          default: "patient_token_here"
      - name: packageId
        in: query
        description: packageId
        required: true
        schema:
          type: number
          default: 1
      - name: from
        in: query
        description: from
        required: true
        schema:
          type: string
          default: "2020-01-01T07%3A30%3A00%2B07%3A00"
      - name: to
        in: query
        description: to
        required: true
        schema:
          type: string
          default: "2020-01-01T12%3A00%3A00%2B07%3A00"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DateTime'
        400:
          description: Bad request
        403:
          description: Invalid token
        404:
          description: Not found
        500:
          description: Unknown
  /patient/appointment:
    post:
      tags:
      - patient/appointment
      summary: Create appointment
      operationId: createAppointmentByPatient
      parameters:
      - in: header
        name: os
        description: Device OS
        required: true
        schema:
          type: string
          default: ios
      - name: app
        in: header
        description: Application identifier
        required: true
        schema:
          type: string
          default: "com.cloud273.patient|1.0.0"
      - name: token
        in: header
        description: Access token
        required: true
        schema:
          type: string
          default: "patient_token_here"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppointmentCreate'
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedWithIDMessage'
        400:
          description: Bad request
        403:
          description: Invalid token
        406:
          description: Bad data or data changed
        500:
          description: Unknown
    get:
      tags:
      - patient/appointment
      summary: Get appointment
      operationId: getAppointmentByPatient
      parameters:
      - name: os
        in: header
        description: Device OS
        required: true
        schema:
          type: string
          default: ios
      - name: app
        in: header
        description: Application identifier
        required: true
        schema:
          type: string
          default: "com.cloud273.patient|1.0.0"
      - name: token
        in: header
        description: Access token
        required: true
        schema:
          type: string
          default: "patient_token_here"
      - name: id
        in: query
        description: id
        required: true
        schema:
          type: number
          default: 1
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentDetail'
        400:
          description: Bad request
        403:
          description: Invalid token
        404:
          description: Not found
        500:
          description: Unknown
  /patient/appointment/list:
    get:
      tags:
      - patient/appointment
      summary: Get list of appointment
      operationId: getListAppointmentByPatient
      parameters:
      - name: os
        in: header
        description: Device OS
        required: true
        schema:
          type: string
          default: ios
      - name: app
        in: header
        description: Application identifier
        required: true
        schema:
          type: string
          default: "com.cloud273.patient|1.0.0"
      - name: token
        in: header
        description: Access token
        required: true
        schema:
          type: string
          default: "patient_token_here"
      - name: type
        in: query
        description: type
        required: true
        schema:
          type: string
          default: "classic"
          enum: ["classic", "telemed"]
      - name: statusTypes
        in: query
        description: type
        required: true
        schema:
          type: string
          default: "W2FjY2VwdGVkXQ=="
      - name: from
        in: query
        description: from
        required: true
        schema:
          type: string
          default: "2019-12-25T07%3A00%3A00%2B07%3A00"
      - name: to
        in: query
        description: to
        required: true
        schema:
          type: string
          default: "2020-01-31T07%3A00%3A00%2B07%3A00"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AppointmentBasic'
[...]
